<!DOCTYPE html>
<html ng-app="chartApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>Angular App</title>

  <!-- Bootstrap CSS -->    
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="assets/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="assets/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="assets/css/style1.css?version=109" rel="stylesheet" />
  <link href="assets/css/style.css" rel="stylesheet" />
  <link href="assets/css/style-responsive.css" rel="stylesheet" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="assets/fusion_charts/js/fusioncharts.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <script src="assets/fusion_charts/wrappers/angularjs/angular-fusioncharts.min.js"></script>
  
  <script src="//code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
  <script src = "//code.angularjs.org/1.6.4/angular-cookies.js"></script>

  <script src="assets/js/app.js"></script>
  
</head>
  <body>
    <div ng-controller="chartController">
      <fusioncharts width="100%" height="500" type="msline" datasource="{{dataSource}}"></fusioncharts>
      <br/>

      &nbsp; &nbsp;
      <label>Samsung: </label>
      <input type="checkbox" ng-model="samsungCheck" ng-change = "samsungFunction(samsungCheck)" />
      &nbsp; &nbsp;
      <label>Nokia: </label>
      <input type="checkbox" ng-model="nokiaCheck" ng-change = "nokiaFunction(nokiaCheck)" />
      &nbsp; &nbsp;
      <label>Apple: </label>
      <input type="checkbox" ng-model="appleCheck" ng-change = "appleFunction(appleCheck)" />
      &nbsp; &nbsp;
      <label>New: </label>
      <input type="checkbox" ng-model="newCheck" ng-change = "newFunction(newCheck)" />
      </div>
    <div>
      
      
      <!--<h5>appleValue: {{apple.value}}</h5>-->
    </div>
  </body>

</html>